@import "tailwindcss";

@theme {
  /* Soft Structuralism Base Variables */
  --color-surface-bg: #f4fcfe; /* light_cyan-900 */
  --color-surface-card: #ffffff; 
  --color-surface-core: #effafd; /* frosted_blue-900 */
  
  --color-text-primary: #010113; /* deep_twilight-100 */
  --color-text-secondary: #011836; /* french_blue-200 */
  --color-text-muted: #005a77; /* blue_green-300 */
  
  --color-action-primary: #023e8a; /* french_blue-500 */
  --color-action-hover: #0077b6; /* bright_teal_blue-500 */
  
  --color-border-soft: #d4f3f9; /* light_cyan-600 */
}

/* Base Body Styling */
:root {
  color-scheme: light;
  --background: var(--color-surface-bg);
  --foreground: var(--color-text-primary);
}

body {
  background-color: var(--color-surface-bg);
  color: var(--color-text-primary);
  font-family: var(--font-outfit), sans-serif;
}

/* Premium Noise Grain Overlay */
.noise-bg {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.85' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}
